@font-face {
    font-family: 'Poiret One';
    src: url('./utils/fonts/Poiret_One/PoiretOne-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('./utils/fonts/Nunito/Nunito-Light.ttf');
}

* {
    font-family: 'Nunito';
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

body {
    background: #191919 !important;
}

.bg-black {
    background-color: #131313 !important;
}

.dropdown-item:hover {
    background-color: #0372ad !important;
}

.styledFont {
    font-family: 'Poiret One';
    font-weight: 600;
}

.text-skyblue {
    color: #0372ad;
}